nodered.txt
[
    {
        "id": "469acb07.998234",
        "type": "tab",
        "label": "Remotes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "db53a7a0.1c3578",
        "type": "tab",
        "label": "Zigbee remotes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7737b2d1.488cec",
        "type": "tab",
        "label": "Automation 2.0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c8b6467d.81d578",
        "type": "tab",
        "label": "Home status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "168b63d0.baa86c",
        "type": "tab",
        "label": "Old automation",
        "disabled": true,
        "info": ""
    },
    {
        "id": "1880a.dac207f62",
        "type": "tab",
        "label": "Sensor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b183b406.fb22c8",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    },
    {
        "id": "370d34d0.6877bc",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open"
    },
    {
        "id": "9ae9de4b.3a08",
        "type": "server-events",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "event_type": "deconz_event",
        "x": 105,
        "y": 594.0000648498535,
        "wires": [
            [
                "8aaa8677.cf7b88"
            ]
        ]
    },
    {
        "id": "3924a639.6512ca",
        "type": "inject",
        "z": "168b63d0.baa86c",
        "name": "2min loop",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 99.88333129882812,
        "y": 372.24436950683594,
        "wires": [
            [
                "f9e2f8b4.65bf58"
            ]
        ]
    },
    {
        "id": "f9e2f8b4.65bf58",
        "type": "api-current-state",
        "z": "168b63d0.baa86c",
        "name": "Heater automation on?",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "input_boolean.heater_auto_on",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 303.8833312988281,
        "y": 369.04443359375,
        "wires": [
            [
                "3a181b9b.ea4494"
            ],
            []
        ]
    },
    {
        "id": "5d8f9f3b.35b43",
        "type": "api-current-state",
        "z": "168b63d0.baa86c",
        "name": "Get activation time",
        "server": "b183b406.fb22c8",
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "input_datetime.only_time",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 967.8833312988281,
        "y": 362.84442138671875,
        "wires": [
            [
                "41a1d41.ea37b2c"
            ]
        ]
    },
    {
        "id": "41a1d41.ea37b2c",
        "type": "function",
        "z": "168b63d0.baa86c",
        "name": "Should it be on?",
        "func": "date = new Date()\ncurrenthours = (date.getHours()).toString()\ncurrentminutes = date.getMinutes().toString()\n\nstarthours = msg.payload.substring(0,2)\nstartminutes = msg.payload.substring(3,5)\nendhours = Number(starthours)\nendminutes = Number(startminutes)+30\nif (endminutes > 59) {\n    endminutes-= 60\n    endhours++\n}\nif (endminutes < 10) {\n    endminutes = \"0\"+endminutes.toString()\n}\ncurrent = currenthours+currentminutes\nstart = starthours+startminutes\nend = endhours.toString()+endminutes.toString()\n\n\nendhours = endhours.toString()\nendminutes = endminutes.toString()\n\n\n\nmsg.payload = 1\n\nif (Number(current) < Number(start) || Number(current) > Number(end)) {\n    msg.payload = 0\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 133.88333129882812,
        "y": 446.04443359375,
        "wires": [
            [
                "62a3c877.0a29b8"
            ]
        ]
    },
    {
        "id": "62a3c877.0a29b8",
        "type": "switch",
        "z": "168b63d0.baa86c",
        "name": "Yes / no",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 294.8833312988281,
        "y": 446.84442138671875,
        "wires": [
            [
                "151f9f6.ebede61"
            ],
            [
                "e4516c0d.463c8"
            ]
        ]
    },
    {
        "id": "97948de2.c3429",
        "type": "api-call-service",
        "z": "168b63d0.baa86c",
        "name": "Turn it on",
        "server": "b183b406.fb22c8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.heater\"}",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1007.3279113769531,
        "y": 447.51104736328125,
        "wires": [
            [
                "fa3193a.dd1557"
            ]
        ]
    },
    {
        "id": "5c00a953.132c48",
        "type": "api-call-service",
        "z": "168b63d0.baa86c",
        "name": "Turn off",
        "server": "b183b406.fb22c8",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.heater\"}",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 597.8833312988281,
        "y": 496.84442138671875,
        "wires": [
            [
                "4902c971.2f8c88"
            ]
        ]
    },
    {
        "id": "bec4f2ea.e2a21",
        "type": "api-current-state",
        "z": "168b63d0.baa86c",
        "name": "Heater off?",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "switch.heater",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 862.7721862792969,
        "y": 447.17779541015625,
        "wires": [
            [
                "97948de2.c3429"
            ],
            []
        ]
    },
    {
        "id": "e4516c0d.463c8",
        "type": "api-current-state",
        "z": "168b63d0.baa86c",
        "name": "Heater on?",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "switch.heater",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 451.8833312988281,
        "y": 498.84442138671875,
        "wires": [
            [
                "5c00a953.132c48"
            ],
            []
        ]
    },
    {
        "id": "67510e7c.222ac",
        "type": "inject",
        "z": "168b63d0.baa86c",
        "name": "Every night",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 110.66116333007812,
        "y": 149.06668090820312,
        "wires": [
            [
                "f40402ee.143e"
            ]
        ]
    },
    {
        "id": "f40402ee.143e",
        "type": "function",
        "z": "168b63d0.baa86c",
        "name": "Reset \"triggered/stopped today\" variables",
        "func": "flow.set('triggered_today',0)\nflow.set('stopped_today',0)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 671.6611633300781,
        "y": 139.7999267578125,
        "wires": [
            []
        ]
    },
    {
        "id": "fa3193a.dd1557",
        "type": "function",
        "z": "168b63d0.baa86c",
        "name": "Note that it has been triggered today",
        "func": "flow.set(\"triggered_today\",1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1246.5502014160156,
        "y": 446.79986572265625,
        "wires": [
            []
        ]
    },
    {
        "id": "151f9f6.ebede61",
        "type": "function",
        "z": "168b63d0.baa86c",
        "name": "Already triggered today?",
        "func": "if (flow.get(\"triggered_today\") == 1 ) {\nmsg.payload = 1\n} else {\n    msg.payload = 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490.8833312988281,
        "y": 425.244384765625,
        "wires": [
            [
                "b35760c.83edfa"
            ]
        ]
    },
    {
        "id": "b35760c.83edfa",
        "type": "switch",
        "z": "168b63d0.baa86c",
        "name": "Yes/no",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 666.2721862792969,
        "y": 426.111083984375,
        "wires": [
            [
                "99150469.c3fb98"
            ],
            [
                "bec4f2ea.e2a21",
                "11be08d4.8ea637"
            ]
        ]
    },
    {
        "id": "f69019f9.f29648",
        "type": "server-state-changed",
        "z": "168b63d0.baa86c",
        "name": "Heater switch changed",
        "server": "b183b406.fb22c8",
        "entityidfilter": "input_boolean.heater_auto_on",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "",
        "halt_if_compare": "is",
        "outputs": 1,
        "x": 139.49449157714844,
        "y": 107,
        "wires": [
            [
                "f40402ee.143e"
            ]
        ]
    },
    {
        "id": "11a57fa.7d7368",
        "type": "server-state-changed",
        "z": "168b63d0.baa86c",
        "name": "Time changed",
        "server": "b183b406.fb22c8",
        "entityidfilter": "input_datetime.only_time",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "",
        "halt_if_compare": "is",
        "outputs": 1,
        "x": 112.82778930664062,
        "y": 186.9999542236328,
        "wires": [
            [
                "f40402ee.143e"
            ]
        ]
    },
    {
        "id": "3a181b9b.ea4494",
        "type": "function",
        "z": "168b63d0.baa86c",
        "name": "Has it been turned off today?",
        "func": "if (flow.get(\"stopped_today\") == 1 ) {\nmsg.payload = 0\n} else {\n    msg.payload = 1\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560.3833312988281,
        "y": 366.44439697265625,
        "wires": [
            [
                "97a3c159.ab7da"
            ]
        ]
    },
    {
        "id": "97a3c159.ab7da",
        "type": "switch",
        "z": "168b63d0.baa86c",
        "name": "If not turned off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 783.38330078125,
        "y": 362.44439697265625,
        "wires": [
            [
                "5d8f9f3b.35b43"
            ]
        ]
    },
    {
        "id": "99150469.c3fb98",
        "type": "api-current-state",
        "z": "168b63d0.baa86c",
        "name": "Heater off?",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "switch.heater",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 864.3833312988281,
        "y": 413.44439697265625,
        "wires": [
            [
                "cce392bb.77f99"
            ],
            []
        ]
    },
    {
        "id": "cce392bb.77f99",
        "type": "function",
        "z": "168b63d0.baa86c",
        "name": "Note that is has been turned off today",
        "func": "flow.set(\"stopped_today\",1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1123.3833312988281,
        "y": 413.44439697265625,
        "wires": [
            []
        ]
    },
    {
        "id": "4902c971.2f8c88",
        "type": "function",
        "z": "168b63d0.baa86c",
        "name": "Note that is has been turned off today",
        "func": "flow.set(\"stopped_today\",1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 849.3833312988281,
        "y": 497.44439697265625,
        "wires": [
            []
        ]
    },
    {
        "id": "25152342.c35fac",
        "type": "looptimer",
        "z": "168b63d0.baa86c",
        "duration": "1",
        "units": "Minute",
        "maxloops": "30",
        "maxtimeout": "1",
        "maxtimeoutunits": "Hour",
        "name": "1 min loop x30",
        "x": 1255.1499328613281,
        "y": 317.56103515625,
        "wires": [
            [
                "d3dea7d3.46e3d8"
            ],
            []
        ]
    },
    {
        "id": "c4534950.c4d778",
        "type": "function",
        "z": "168b63d0.baa86c",
        "name": "Brightness up calc",
        "func": "brightness = msg.data.attributes.brightness + 6;\n    if (brightness > 180){\n        brightness = 180;\n    }\n    msg.payload = {\"data\":{\"brightness\":brightness}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1475.2666320800781,
        "y": 273.5278015136719,
        "wires": [
            [
                "e56de7fc.1bd0b8"
            ]
        ]
    },
    {
        "id": "df3e3c7d.110fb",
        "type": "api-call-service",
        "z": "168b63d0.baa86c",
        "name": "Skru på lys",
        "server": "b183b406.fb22c8",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.bed\",\"color_name\":\"PeachPuff\",\"brightness\":2}",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1038.2666320800781,
        "y": 310.3277282714844,
        "wires": [
            [
                "abb0a13a.5c445"
            ]
        ]
    },
    {
        "id": "e56de7fc.1bd0b8",
        "type": "api-call-service",
        "z": "168b63d0.baa86c",
        "name": "Change brightness",
        "server": "b183b406.fb22c8",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.bed\"}",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1481.2666320800781,
        "y": 314.1277160644531,
        "wires": [
            []
        ]
    },
    {
        "id": "d3dea7d3.46e3d8",
        "type": "api-current-state",
        "z": "168b63d0.baa86c",
        "name": "Get brightness",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.bed",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 1438.2666320800781,
        "y": 230.927734375,
        "wires": [
            [
                "c4534950.c4d778"
            ],
            []
        ]
    },
    {
        "id": "abb0a13a.5c445",
        "type": "delay",
        "z": "168b63d0.baa86c",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1261.2666320800781,
        "y": 268.927734375,
        "wires": [
            [
                "25152342.c35fac"
            ]
        ]
    },
    {
        "id": "11be08d4.8ea637",
        "type": "api-current-state",
        "z": "168b63d0.baa86c",
        "name": "Er lyset av?",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.bed",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 959.2666320800781,
        "y": 264.3277282714844,
        "wires": [
            [
                "df3e3c7d.110fb"
            ],
            []
        ]
    },
    {
        "id": "3ba40704.1a43c8",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Wake up light automation on?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "input_boolean.wake_up_light",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 339.8833312988281,
        "y": 342.0444641113281,
        "wires": [
            [
                "70cce393.f18d6c"
            ]
        ]
    },
    {
        "id": "b6cf2f39.f39ca",
        "type": "inject",
        "z": "7737b2d1.488cec",
        "name": "Every night",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 122.66116333007812,
        "y": 230.06668090820312,
        "wires": [
            [
                "7140a5f8.e6560c",
                "946c18a6.abc438"
            ]
        ]
    },
    {
        "id": "7140a5f8.e6560c",
        "type": "function",
        "z": "7737b2d1.488cec",
        "name": "Reset \"triggered/stopped today\" variables",
        "func": "flow.set('triggered_today',0)\nflow.set('stopped_today',0)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 676.6611633300781,
        "y": 219.7999267578125,
        "wires": [
            []
        ]
    },
    {
        "id": "6068584.0cd2aa8",
        "type": "server-state-changed",
        "z": "7737b2d1.488cec",
        "name": "Heater switch changed",
        "server": "b183b406.fb22c8",
        "version": "1",
        "entityidfilter": "input_boolean.heater_auto_on",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "x": 144.49449157714844,
        "y": 187,
        "wires": [
            [
                "7140a5f8.e6560c"
            ]
        ]
    },
    {
        "id": "1b405ad8.f141a5",
        "type": "server-state-changed",
        "z": "7737b2d1.488cec",
        "name": "Time changed",
        "server": "b183b406.fb22c8",
        "version": "1",
        "entityidfilter": "input_datetime.only_time",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "x": 117.82778930664062,
        "y": 266.9999542236328,
        "wires": [
            [
                "7140a5f8.e6560c"
            ]
        ]
    },
    {
        "id": "57040895.2eaec8",
        "type": "inject",
        "z": "7737b2d1.488cec",
        "name": "2min loop",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 115.88333129882812,
        "y": 371.2833557128906,
        "wires": [
            [
                "3ba40704.1a43c8",
                "9aed849b.8eacd8"
            ]
        ]
    },
    {
        "id": "a307b3de.e4879",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Get activation time",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "input_datetime.only_time",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1250.88330078125,
        "y": 369.4834289550781,
        "wires": [
            [
                "8987a3ba.35483"
            ]
        ]
    },
    {
        "id": "7bfd7120.81638",
        "type": "function",
        "z": "7737b2d1.488cec",
        "name": "Has it been turned off today?",
        "func": "if (flow.get(\"stopped_today\") == 1 ) {\nmsg.payload = 0\n} else {\n    msg.payload = 1\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 848.38330078125,
        "y": 374.0834045410156,
        "wires": [
            [
                "2ea59fed.8fbcf"
            ]
        ]
    },
    {
        "id": "2ea59fed.8fbcf",
        "type": "switch",
        "z": "7737b2d1.488cec",
        "name": "If not turned off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1069.38330078125,
        "y": 372.0834045410156,
        "wires": [
            [
                "a307b3de.e4879"
            ]
        ]
    },
    {
        "id": "8987a3ba.35483",
        "type": "function",
        "z": "7737b2d1.488cec",
        "name": "Should it be on?",
        "func": "date = new Date()\ncurrenthours = (date.getHours()).toString()\ncurrentminutes = date.getMinutes().toString()\n\nstarthours = msg.payload.substring(0,2)\nstartminutes = msg.payload.substring(3,5)\nendhours = Number(starthours)\nendminutes = Number(startminutes)+30\nif (endminutes > 59) {\n    endminutes-= 60\n    endhours++\n}\nif (endminutes < 10) {\n    endminutes = \"0\"+endminutes.toString()\n}\ncurrent = currenthours+currentminutes\nstart = starthours+startminutes\nend = endhours.toString()+endminutes.toString()\n\n\nendhours = endhours.toString()\nendminutes = endminutes.toString()\n\n\n\nmsg.payload = 1\n\nif (Number(current) < Number(start) || Number(current) > Number(end)) {\n    msg.payload = 0\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 131.88333129882812,
        "y": 545.0834350585938,
        "wires": [
            [
                "f4e934a7.a1cd48"
            ]
        ]
    },
    {
        "id": "f4e934a7.a1cd48",
        "type": "switch",
        "z": "7737b2d1.488cec",
        "name": "Yes / no",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 303.8833312988281,
        "y": 542.2833251953125,
        "wires": [
            [
                "239016be.d9ee3a"
            ],
            [
                "bdf17a2a.08c378"
            ]
        ]
    },
    {
        "id": "239016be.d9ee3a",
        "type": "function",
        "z": "7737b2d1.488cec",
        "name": "Already triggered today?",
        "func": "if (flow.get(\"triggered_today\") == 1 ) {\nmsg.payload = 1\n} else {\n    msg.payload = 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 512.8833312988281,
        "y": 506.0833435058594,
        "wires": [
            [
                "d8d699d6.a4c348"
            ]
        ]
    },
    {
        "id": "9aed849b.8eacd8",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Heater automation on?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "input_boolean.heater_auto_on",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 323.8833312988281,
        "y": 398.2833557128906,
        "wires": [
            [
                "70cce393.f18d6c"
            ]
        ]
    },
    {
        "id": "70cce393.f18d6c",
        "type": "join",
        "z": "7737b2d1.488cec",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "4",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 527.7666320800781,
        "y": 376.8833312988281,
        "wires": [
            [
                "4324af52.c855f"
            ]
        ]
    },
    {
        "id": "4324af52.c855f",
        "type": "switch",
        "z": "7737b2d1.488cec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 653.7666015625,
        "y": 373.95001220703125,
        "wires": [
            [
                "7bfd7120.81638"
            ]
        ]
    },
    {
        "id": "d8d699d6.a4c348",
        "type": "switch",
        "z": "7737b2d1.488cec",
        "name": "Yes/no",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 515.88330078125,
        "y": 705.0833740234375,
        "wires": [
            [],
            [
                "50fefd00.341e24"
            ]
        ]
    },
    {
        "id": "1e700b0b.e67075",
        "type": "looptimer",
        "z": "7737b2d1.488cec",
        "duration": "1",
        "units": "Minute",
        "maxloops": "30",
        "maxtimeout": "1",
        "maxtimeoutunits": "Hour",
        "name": "1 min loop x30",
        "x": 1148.88330078125,
        "y": 546.8833312988281,
        "wires": [
            [
                "2af97770.364318"
            ],
            []
        ]
    },
    {
        "id": "d8a92e3c.47163",
        "type": "function",
        "z": "7737b2d1.488cec",
        "name": "Brightness up calc",
        "func": "brightness = msg.data.attributes.brightness + 6;\n    if (brightness > 180){\n        brightness = 180;\n    }\n    msg.payload = {\"data\":{\"brightness\":brightness}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1443,
        "y": 528.8501281738281,
        "wires": [
            [
                "c620708b.fb708"
            ]
        ]
    },
    {
        "id": "5b69d73c.05b8c8",
        "type": "api-call-service",
        "z": "7737b2d1.488cec",
        "name": "Skru på lys",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.bed",
        "data": "{\"color_name\":\"PeachPuff\",\"brightness\":2}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1102,
        "y": 486.6500244140625,
        "wires": [
            [
                "17f869f7.2a3876"
            ]
        ]
    },
    {
        "id": "c620708b.fb708",
        "type": "api-call-service",
        "z": "7737b2d1.488cec",
        "name": "Change brightness",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.bed",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1480,
        "y": 580.4500122070312,
        "wires": [
            []
        ]
    },
    {
        "id": "2af97770.364318",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Get brightness",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.bed",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1395,
        "y": 470.2500305175781,
        "wires": [
            [],
            [
                "d8a92e3c.47163"
            ]
        ]
    },
    {
        "id": "17f869f7.2a3876",
        "type": "delay",
        "z": "7737b2d1.488cec",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 988,
        "y": 550.2500915527344,
        "wires": [
            [
                "1e700b0b.e67075"
            ]
        ]
    },
    {
        "id": "38c40c0c.515414",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Er lyset av?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.bed",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 931,
        "y": 486.6500244140625,
        "wires": [
            [],
            [
                "5b69d73c.05b8c8"
            ]
        ]
    },
    {
        "id": "50fefd00.341e24",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Wake up light automation on?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "input_boolean.wake_up_light",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 767.61669921875,
        "y": 612.20556640625,
        "wires": [
            [],
            [
                "38c40c0c.515414"
            ]
        ]
    },
    {
        "id": "31fa66b4.4f4a2a",
        "type": "api-call-service",
        "z": "7737b2d1.488cec",
        "name": "Turn it on",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.extra",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1113.88330078125,
        "y": 776.6833801269531,
        "wires": [
            [
                "6f81443e.6ebf8c"
            ]
        ]
    },
    {
        "id": "40943a43.e08cc4",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Heater off?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "switch.extra",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 969.3275146484375,
        "y": 776.3501281738281,
        "wires": [
            [],
            [
                "31fa66b4.4f4a2a"
            ]
        ]
    },
    {
        "id": "6f81443e.6ebf8c",
        "type": "function",
        "z": "7737b2d1.488cec",
        "name": "Note that it has been triggered today",
        "func": "flow.set(\"triggered_today\",1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1346.1055908203125,
        "y": 782.9721984863281,
        "wires": [
            []
        ]
    },
    {
        "id": "1bd64a6a.6a70b6",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Heater off?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "switch.extra",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 994.938720703125,
        "y": 737.6167297363281,
        "wires": [
            [],
            [
                "3e83e096.6b25f"
            ]
        ]
    },
    {
        "id": "3e83e096.6b25f",
        "type": "function",
        "z": "7737b2d1.488cec",
        "name": "Note that is has been turned off today",
        "func": "flow.set(\"stopped_today\",1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1240.938720703125,
        "y": 735.6167297363281,
        "wires": [
            []
        ]
    },
    {
        "id": "9f982575.fba228",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Heater automation on?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "input_boolean.heater_auto_on",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 771.88330078125,
        "y": 790.8833312988281,
        "wires": [
            [],
            [
                "40943a43.e08cc4"
            ]
        ]
    },
    {
        "id": "f0a1caa3.841e08",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Heater automation on?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "input_boolean.heater_auto_on",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 770.88330078125,
        "y": 746.6833801269531,
        "wires": [
            [],
            [
                "1bd64a6a.6a70b6"
            ]
        ]
    },
    {
        "id": "59b3be6d.bb187",
        "type": "api-call-service",
        "z": "7737b2d1.488cec",
        "name": "Turn off",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.extra",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 466.8833312988281,
        "y": 876.4834253787994,
        "wires": [
            [
                "cf6b7d2.5b0c78"
            ]
        ]
    },
    {
        "id": "bdf17a2a.08c378",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Heater on?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "switch.extra",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 316.88336181640625,
        "y": 878.4834253787994,
        "wires": [
            [],
            [
                "59b3be6d.bb187"
            ]
        ]
    },
    {
        "id": "cf6b7d2.5b0c78",
        "type": "function",
        "z": "7737b2d1.488cec",
        "name": "Note that is has been turned off today",
        "func": "flow.set(\"stopped_today\",1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 729.3833312988281,
        "y": 876.0834009647369,
        "wires": [
            []
        ]
    },
    {
        "id": "8aaa8677.cf7b88",
        "type": "switch",
        "z": "469acb07.998234",
        "name": "",
        "property": "payload.event.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "tradfri_remote_control",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "spotify_controller",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tradfri_wireless_dimmer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lumi_sensor_cube_aqgl01_4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lumi_sensor_cube_aqgl01_6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 187.76666259765625,
        "y": 692.1499519348145,
        "wires": [
            [],
            [],
            [
                "a4e16b6.240cf98"
            ],
            [
                "6ecf478.4cb1fb8"
            ],
            [
                "6ad8b448.0afc9c"
            ]
        ]
    },
    {
        "id": "aa0c5a58.f64588",
        "type": "trigger-state",
        "z": "c8b6467d.81d578",
        "name": "Henrik kommet hjem?",
        "server": "b183b406.fb22c8",
        "entityid": "device_tracker.henrik_note9",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "qpr3upjnbtn",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            },
            {
                "id": "guak8v7pso",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 112.88333129882812,
        "y": 154.88333129882812,
        "wires": [
            [
                "934b2968.487f38"
            ],
            []
        ]
    },
    {
        "id": "934b2968.487f38",
        "type": "api-current-state",
        "z": "c8b6467d.81d578",
        "name": "Charlotte er ikke hjemme nå?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "device_tracker.charlotte_iphone",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 391.8833312988281,
        "y": 144.88333129882812,
        "wires": [
            [],
            [
                "32b5dd52.64c4d2"
            ]
        ]
    },
    {
        "id": "9106a950.f28728",
        "type": "api-current-state",
        "z": "c8b6467d.81d578",
        "name": "Henrik er ikke hjemme nå?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "device_tracker.henrik_note9",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 394.8833312988281,
        "y": 191.88333129882812,
        "wires": [
            [],
            [
                "6730c84b.20dd78"
            ]
        ]
    },
    {
        "id": "5a2b3ab1.734bc4",
        "type": "api-call-service",
        "z": "c8b6467d.81d578",
        "name": "Skru på gulvlampe",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.light_4",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1220.8832893371582,
        "y": 162.88332748413086,
        "wires": [
            []
        ]
    },
    {
        "id": "e11ab454.8d69a8",
        "type": "delay",
        "z": "c8b6467d.81d578",
        "name": "5m delay for dobbelsjekk",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 509.8833312988281,
        "y": 294.8833312988281,
        "wires": [
            [
                "54c2d7d.f6b0428",
                "e2ed920d.94048"
            ]
        ]
    },
    {
        "id": "54c2d7d.f6b0428",
        "type": "api-current-state",
        "z": "c8b6467d.81d578",
        "name": "Status Charlotte",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "device_tracker.charlotte_iphone",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 708.8833312988281,
        "y": 240.88333129882812,
        "wires": [
            [
                "874517bf.833878"
            ]
        ]
    },
    {
        "id": "e2ed920d.94048",
        "type": "api-current-state",
        "z": "c8b6467d.81d578",
        "name": "Status Henrik",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "device_tracker.henrik_note9",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 717.8833312988281,
        "y": 322.8833312988281,
        "wires": [
            [
                "49914f54.80302"
            ]
        ]
    },
    {
        "id": "2a035f9c.1b22a",
        "type": "join",
        "z": "c8b6467d.81d578",
        "name": "Slå sammen svar til en string",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1040.8833312988281,
        "y": 280.8833312988281,
        "wires": [
            [
                "beffd2ec.63f63"
            ]
        ]
    },
    {
        "id": "beffd2ec.63f63",
        "type": "switch",
        "z": "c8b6467d.81d578",
        "name": "begge borte ( \"awayaway\" )",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "awayaway",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1310.8833312988281,
        "y": 279.8833312988281,
        "wires": [
            [
                "fcbddcd0.857a",
                "35fcbcf0.472ad4"
            ]
        ]
    },
    {
        "id": "fcbddcd0.857a",
        "type": "api-call-service",
        "z": "c8b6467d.81d578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "group.all_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1488.8833312988281,
        "y": 207.88333129882812,
        "wires": [
            []
        ]
    },
    {
        "id": "35fcbcf0.472ad4",
        "type": "api-call-service",
        "z": "c8b6467d.81d578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.light_4",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1505.8833312988281,
        "y": 334.8833312988281,
        "wires": [
            []
        ]
    },
    {
        "id": "13177fb5.99dec",
        "type": "trigger-state",
        "z": "c8b6467d.81d578",
        "name": "Henrik dratt?",
        "server": "b183b406.fb22c8",
        "entityid": "device_tracker.henrik_note9",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "oprimvric2e",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            },
            {
                "id": "sx4ytpi6y",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 81.88333129882812,
        "y": 260.8833312988281,
        "wires": [
            [
                "e2f99d88.41a1a"
            ],
            []
        ]
    },
    {
        "id": "e2f99d88.41a1a",
        "type": "api-current-state",
        "z": "c8b6467d.81d578",
        "name": "Charlotte også borte?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "device_tracker.charlotte_iphone",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 274.8833312988281,
        "y": 254.88333129882812,
        "wires": [
            [],
            [
                "e11ab454.8d69a8"
            ]
        ]
    },
    {
        "id": "7d842319.57efac",
        "type": "api-current-state",
        "z": "c8b6467d.81d578",
        "name": "Henrik også borte?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "device_tracker.henrik_note9",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 282.8833312988281,
        "y": 347.8833312988281,
        "wires": [
            [],
            [
                "e11ab454.8d69a8"
            ]
        ]
    },
    {
        "id": "3ff0cd41.da8812",
        "type": "api-current-state",
        "z": "c8b6467d.81d578",
        "name": "Dobbelsjekk C hjemme",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": true,
        "entity_id": "device_tracker.charlotte_iphone",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 806.8833312988281,
        "y": 187.88333129882812,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6730c84b.20dd78",
        "type": "delay",
        "z": "c8b6467d.81d578",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 606.8833312988281,
        "y": 194.88333129882812,
        "wires": [
            [
                "3ff0cd41.da8812"
            ]
        ]
    },
    {
        "id": "874517bf.833878",
        "type": "change",
        "z": "c8b6467d.81d578",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "not_home",
                "fromt": "str",
                "to": "away",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 909.6499328613281,
        "y": 238.86660766601562,
        "wires": [
            [
                "2a035f9c.1b22a"
            ]
        ]
    },
    {
        "id": "49914f54.80302",
        "type": "change",
        "z": "c8b6467d.81d578",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "not_home",
                "fromt": "str",
                "to": "away",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 918.7666320800781,
        "y": 324.7666320800781,
        "wires": [
            [
                "2a035f9c.1b22a"
            ]
        ]
    },
    {
        "id": "5eb6ed21.66ee74",
        "type": "switch",
        "z": "469acb07.998234",
        "name": "Lights",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 749.8833236694336,
        "y": 641.0832786560059,
        "wires": [
            [
                "d4adbb87.3f7728"
            ],
            [
                "2cc6883b.67bdf8"
            ]
        ]
    },
    {
        "id": "d4adbb87.3f7728",
        "type": "api-current-state",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.bath",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1011.7665977478027,
        "y": 632.4000434875488,
        "wires": [
            [
                "94dd3371.9811c"
            ],
            [
                "3bc2c403.588e3c"
            ]
        ]
    },
    {
        "id": "a4e16b6.240cf98",
        "type": "join",
        "z": "469acb07.998234",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload.event.event",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "-",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 459.88332748413086,
        "y": 633.6833686828613,
        "wires": [
            [
                "37036c5b.0bb2b4"
            ]
        ]
    },
    {
        "id": "3bc2c403.588e3c",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.bath",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1250.7665977478027,
        "y": 628.9333686828613,
        "wires": [
            [
                "1b483e76.a208c2"
            ]
        ]
    },
    {
        "id": "2cc6883b.67bdf8",
        "type": "api-current-state",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.bath",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 895.8832969665527,
        "y": 804.2832832336426,
        "wires": [
            [],
            [
                "cb7d038.5a773"
            ]
        ]
    },
    {
        "id": "cb7d038.5a773",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.bath",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1111.8832969665527,
        "y": 804.2834053039551,
        "wires": [
            []
        ]
    },
    {
        "id": "1695ea6e.b2aec6",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.bath",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1479.8832969665527,
        "y": 682.2832832336426,
        "wires": [
            []
        ]
    },
    {
        "id": "37036c5b.0bb2b4",
        "type": "function",
        "z": "469acb07.998234",
        "name": "Ikea dimmer",
        "func": "data = msg.payload.event.event\non = 0\noff = 0\n\n\nfor (i = 0; i < data.length; i++) {\n    if (data[i]==1002 || data[i]==2002) {\n        on++\n    } else {\n        off++\n    }\n}\n\n\nif (on==off) {\n    msg.payload = data[0] == 1002 || data[0] == 2002\n    return msg\n}\nmsg.payload = on>off\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "x": 606.766658782959,
        "y": 645.716724395752,
        "wires": [
            [
                "5eb6ed21.66ee74"
            ]
        ]
    },
    {
        "id": "1b483e76.a208c2",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.bath",
        "data": "{\"brightness\":255,\"rgb_color\":[255,44,0],\"white_value\":255}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1476.8832969665527,
        "y": 628.2834053039551,
        "wires": [
            []
        ]
    },
    {
        "id": "94dd3371.9811c",
        "type": "function",
        "z": "469acb07.998234",
        "name": "Next color calc",
        "func": "colors = [\"BlueViolet\",\"red\",\"purple\",\"blue\",\"green\",\"cyan\", \"warm\"]\ncurrent_color = flow.get(\"current_color_bath\") || false\n\n\nif (current_color) {\n    if (current_color == \"cyan\") {\n        msg.payload = {\"data\": {\"brightness\":255,\"rgb_color\":[255,44,0],\"white_value\":255}}\n        flow.set(\"current_color_bath\",\"warm\")\n        return msg\n    }\n    i = colors.indexOf(current_color)+1\n    if (i >= colors.length) {\n        i = 0\n    }\n    current_color = colors[i]\n    flow.set(\"current_color_bath\",current_color)\n}\nelse {\n    flow.set(\"current_color_bath\",\"red\")\n    current_color = \"red\"\n}\n\nmsg.payload = {\"data\": {\"brightness\":255, \"white_value\":0, \"color_name\": current_color}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1263.8832969665527,
        "y": 682.6834297180176,
        "wires": [
            [
                "1695ea6e.b2aec6"
            ]
        ]
    },
    {
        "id": "51f989bd.878d18",
        "type": "server-events",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "event_type": "call_service",
        "x": 103.76666259765625,
        "y": 368,
        "wires": [
            [
                "958ed5c5.69c578"
            ]
        ]
    },
    {
        "id": "12c38fb0.bbec3",
        "type": "switch",
        "z": "469acb07.998234",
        "name": "",
        "property": "payload.event.service_data.entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "scene.party",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "scene.warm",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "scene.orange",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "scene.blue",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 824.7666015625,
        "y": 371.9499816894531,
        "wires": [
            [
                "73e4e062.49aaf"
            ],
            [
                "2da21ad5.168e96"
            ],
            [
                "f4ee56f4.95e3c8"
            ],
            [
                "33a235d6.a8889a"
            ]
        ]
    },
    {
        "id": "73e4e062.49aaf",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "Disable warm white",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.sofa",
        "data": "{\"white_value\":0}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1001.88330078125,
        "y": 328.8833312988281,
        "wires": [
            [
                "a3096269.260bb"
            ]
        ]
    },
    {
        "id": "e489430b.77af5",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "Activate strobe",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.sofa",
        "data": "{\"effect\":\"white_strobe\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1352.88330078125,
        "y": 325.8833312988281,
        "wires": [
            []
        ]
    },
    {
        "id": "a3096269.260bb",
        "type": "delay",
        "z": "469acb07.998234",
        "name": "",
        "pauseType": "delay",
        "timeout": ".5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1185.38330078125,
        "y": 328.48333740234375,
        "wires": [
            [
                "e489430b.77af5"
            ]
        ]
    },
    {
        "id": "2da21ad5.168e96",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "Activate warm",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.sofa",
        "data": "{\"brightness\":50,\"white_value\":255,\"rgb_color\":[255,255,255]}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1362.88330078125,
        "y": 375.48333740234375,
        "wires": [
            []
        ]
    },
    {
        "id": "f4ee56f4.95e3c8",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "Activate orange",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.sofa",
        "data": "{\"brightness\":255,\"white_value\":0,\"rgb_color\":[255,20,0]}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1365.88330078125,
        "y": 420.8833312988281,
        "wires": [
            []
        ]
    },
    {
        "id": "33a235d6.a8889a",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "Activate blue",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.sofa",
        "data": "{\"brightness\":255,\"white_value\":0,\"rgb_color\":[0,255,200]}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1355.88330078125,
        "y": 468.8833312988281,
        "wires": [
            []
        ]
    },
    {
        "id": "946c18a6.abc438",
        "type": "api-call-service",
        "z": "7737b2d1.488cec",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "counter",
        "service": "increment",
        "entityId": "counter.plant_counter",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 617.88330078125,
        "y": 184.88333129882812,
        "wires": [
            []
        ]
    },
    {
        "id": "e39d5c88.c2a71",
        "type": "api-current-state",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.sofa",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 438.7666320800781,
        "y": 367.3999328613281,
        "wires": [
            [
                "12c38fb0.bbec3"
            ],
            [
                "ff0f8f4.b6a427"
            ]
        ]
    },
    {
        "id": "958ed5c5.69c578",
        "type": "switch",
        "z": "469acb07.998234",
        "name": "",
        "property": "payload.event.service_data.entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "scene",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 263.8833312988281,
        "y": 366.8833312988281,
        "wires": [
            [
                "e39d5c88.c2a71"
            ]
        ]
    },
    {
        "id": "ff0f8f4.b6a427",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "Activate warm",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.sofa",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 648.88330078125,
        "y": 316.8833312988281,
        "wires": [
            [
                "12c38fb0.bbec3"
            ]
        ]
    },
    {
        "id": "32b5dd52.64c4d2",
        "type": "time-range-switch",
        "z": "c8b6467d.81d578",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "07:00",
        "endTime": "22:30",
        "startOffset": 0,
        "endOffset": 0,
        "x": 1010.1000137329102,
        "y": 138.60006141662598,
        "wires": [
            [
                "5a2b3ab1.734bc4"
            ],
            []
        ]
    },
    {
        "id": "6ecf478.4cb1fb8",
        "type": "function",
        "z": "469acb07.998234",
        "name": "Cube",
        "func": "next = [3002,5003,4005,2004]\nprev = [2003, 3005, 5004, 4002]\n\nplaypause = [1001,2002,3003,4004,5005,6006,7007]\n\nevent = msg.payload.event.event\n\nif (next.indexOf(event) > -1) {\n    msg.payload = \"next\"\n}\n\nelse if (prev.indexOf(event) > -1) {\n    msg.payload = \"prev\"\n}\n\nelse if(playpause.indexOf(event) > -1) {\n    msg.payload = \"playpause\"\n}\n\n\n\nelse {\n    msg.payload = \"none\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 436.0999870300293,
        "y": 965.2001814842224,
        "wires": [
            [
                "9abc9d5e.30a"
            ]
        ]
    },
    {
        "id": "9abc9d5e.30a",
        "type": "switch",
        "z": "469acb07.998234",
        "name": "Media control",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "prev",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "next",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "playpause",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "skip",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 602.8332920074463,
        "y": 989.0890846252441,
        "wires": [
            [
                "9e41f5ae.318d48"
            ],
            [
                "79badd1b.fc9df4"
            ],
            [
                "c51d6027.355f9"
            ],
            []
        ]
    },
    {
        "id": "c99f9cab.d5d77",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "media_player",
        "service": "media_next_track",
        "entityId": "media_player.spotify",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1232.833324432373,
        "y": 965.2888584136963,
        "wires": [
            []
        ]
    },
    {
        "id": "eb7edb70.d06768",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "entityId": "media_player.spotify",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1240.5332946777344,
        "y": 906.2888584136963,
        "wires": [
            []
        ]
    },
    {
        "id": "a21ca102.59d28",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "media_player",
        "service": "media_play_pause",
        "entityId": "media_player.spotify",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1252.5332984924316,
        "y": 1142.2888593673706,
        "wires": [
            []
        ]
    },
    {
        "id": "6ad8b448.0afc9c",
        "type": "function",
        "z": "469acb07.998234",
        "name": "Cube degrees",
        "func": "\n\nevent = msg.payload.event.event\n\n\nmsg.payload = parseInt(event) / 36000\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 463.16668701171875,
        "y": 1267.333683013916,
        "wires": [
            [
                "4c39750a.adceec",
                "62390d60.745694",
                "94e870ee.dfc1a",
                "8eb0e352.c2d72"
            ]
        ]
    },
    {
        "id": "4c39750a.adceec",
        "type": "api-current-state",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "playing",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": true,
        "entity_id": "media_player.home",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 736.0000228881836,
        "y": 1260.333797454834,
        "wires": [
            [],
            [
                "c0a9e49b.1a84a8"
            ]
        ]
    },
    {
        "id": "81eb594e.932b68",
        "type": "function",
        "z": "469acb07.998234",
        "name": "",
        "func": "\n\nvolume = msg.data.attributes.volume_level + msg.payload;\n    if (volume > 1){\n        volume = 1;\n    }\n    if (volume < 0.1) {\n        volume = 0.1\n    }\nmsg.payload = {\"data\":{\"volume_level\": parseFloat(volume), \"entity_id\":\"media_player.kitchen_speaker\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1048.8818283081055,
        "y": 1284.2606449127197,
        "wires": [
            [
                "6af5e538.ded19c"
            ]
        ]
    },
    {
        "id": "62390d60.745694",
        "type": "api-current-state",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "playing",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": true,
        "entity_id": "media_player.kitchen_speaker",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 760.8818893432617,
        "y": 1318.060793876648,
        "wires": [
            [],
            [
                "81eb594e.932b68"
            ]
        ]
    },
    {
        "id": "94e870ee.dfc1a",
        "type": "api-current-state",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "playing",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": true,
        "entity_id": "media_player.googlehome5130",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 771.6818771362305,
        "y": 1372.060754776001,
        "wires": [
            [],
            [
                "e731d032.71441"
            ]
        ]
    },
    {
        "id": "6af5e538.ded19c",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "media_player",
        "service": "volume_set",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1408.5651779174805,
        "y": 1270.5439701080322,
        "wires": [
            []
        ]
    },
    {
        "id": "e731d032.71441",
        "type": "function",
        "z": "469acb07.998234",
        "name": "",
        "func": "\n\nvolume = msg.data.attributes.volume_level + msg.payload;\n    if (volume > 1){\n        volume = 1;\n    }\n    if (volume < 0.1) {\n        volume = 0.1\n    }\n    msg.payload = {\"data\":{\"volume_level\":volume, \"entity_id\":\"media_player.googlehome5130\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040.5651779174805,
        "y": 1353.5440006256104,
        "wires": [
            [
                "6af5e538.ded19c"
            ]
        ]
    },
    {
        "id": "c0a9e49b.1a84a8",
        "type": "function",
        "z": "469acb07.998234",
        "name": "",
        "func": "\n\nvolume = msg.data.attributes.volume_level + msg.payload;\n    if (volume > 1){\n        volume = 1;\n    }\n    if (volume < 0.1) {\n        volume = 0.1\n    }\n    msg.payload = {\"data\":{\"volume_level\":volume, \"entity_id\":\"media_player.home\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1042.9848709106445,
        "y": 1223.317395210266,
        "wires": [
            [
                "6af5e538.ded19c"
            ]
        ]
    },
    {
        "id": "8eb0e352.c2d72",
        "type": "api-current-state",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.tv",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 728.0000228881836,
        "y": 1207.4445552825928,
        "wires": [
            [],
            [
                "58d0d62e.3b1cb8"
            ]
        ]
    },
    {
        "id": "58d0d62e.3b1cb8",
        "type": "function",
        "z": "469acb07.998234",
        "name": "",
        "func": "\n\nvolume = msg.data.attributes.volume_level + msg.payload;\n    if (volume > 1){\n        volume = 1;\n    }\n    if (volume < 0.1) {\n        volume = 0.1\n    }\n    msg.payload = {\"data\":{\"volume_level\":volume, \"entity_id\":\"media_player.tv\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1046.0000228881836,
        "y": 1173.444538116455,
        "wires": [
            [
                "6af5e538.ded19c"
            ]
        ]
    },
    {
        "id": "c51d6027.355f9",
        "type": "api-current-state",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.tv",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 913.9999847412109,
        "y": 1092.4443893432617,
        "wires": [
            [
                "a21ca102.59d28"
            ],
            [
                "7e98f533.48c3bc"
            ]
        ]
    },
    {
        "id": "311ceb5a.710a14",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "media_player",
        "service": "media_play_pause",
        "entityId": "media_player.spotify",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1571.0000305175781,
        "y": 1057.5555839538574,
        "wires": [
            []
        ]
    },
    {
        "id": "79badd1b.fc9df4",
        "type": "api-current-state",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.tv",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 910.9999847412109,
        "y": 969.2222347259521,
        "wires": [
            [
                "c99f9cab.d5d77"
            ],
            []
        ]
    },
    {
        "id": "9e41f5ae.318d48",
        "type": "api-current-state",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.tv",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 911.9999847412109,
        "y": 910.2222347259521,
        "wires": [
            [
                "eb7edb70.d06768"
            ],
            []
        ]
    },
    {
        "id": "7e98f533.48c3bc",
        "type": "api-current-state",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "playing",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.spotify",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1222.3333053588867,
        "y": 1047.666693687439,
        "wires": [
            [
                "311ceb5a.710a14"
            ],
            [
                "b93adcb4.0e1dd"
            ]
        ]
    },
    {
        "id": "b93adcb4.0e1dd",
        "type": "api-call-service",
        "z": "469acb07.998234",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "media_player",
        "service": "media_play_pause",
        "entityId": "media_player.tv",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1566.3333587646484,
        "y": 1003.6666946411133,
        "wires": [
            []
        ]
    },
    {
        "id": "fe130c73.6479",
        "type": "server-events",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "event_type": "deconz_event",
        "x": 105,
        "y": 473.11669921875,
        "wires": [
            [
                "fd5d3a2e.f546e8",
                "f2f56bbf.9b3118"
            ]
        ]
    },
    {
        "id": "678ba241.dd16ac",
        "type": "switch",
        "z": "db53a7a0.1c3578",
        "name": "Bedroom",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5001",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 251.00002670288086,
        "y": 624.1167106628418,
        "wires": [
            [
                "d3b00620.184e58",
                "30ad5183.f3d67e"
            ],
            [
                "776fef78.25366"
            ],
            [
                "a6126581.6afb68"
            ],
            [
                "fcad86e2.9469f8",
                "5f1d1204.0608cc"
            ],
            [
                "ab2a7865.ba0a88",
                "619082d.23d307c"
            ],
            [
                "9e472851.3eeda8"
            ],
            [
                "8de13127.bfb2b"
            ]
        ]
    },
    {
        "id": "ab2a7865.ba0a88",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "toggle",
        "entityId": "light.bed",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 542.4286422729492,
        "y": 717.6882305145264,
        "wires": [
            []
        ]
    },
    {
        "id": "776fef78.25366",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Prev color calc",
        "func": "colors = [\"white\",\"red\",\"orange\",\"green\",\"blue\",\"purple\",\"peachpuff\"]\ncurrent_color = flow.get(\"current_color\") || false\n\nif (current_color) {\n    i = colors.indexOf(current_color)+1\n    if (i >= colors.length) {\n        i = 0\n    }\n    current_color = colors[i]\n    flow.set(\"current_color\",current_color)\n}\nelse {\n    flow.set(\"current_color\",\"white\")\n    current_color = \"white\"\n}\n\nmsg.data = {data:{\"color_name\": current_color}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 483.42870330810547,
        "y": 486.68817710876465,
        "wires": [
            [
                "3b86d4a0.71fe2c",
                "5284364f.8adad8"
            ]
        ]
    },
    {
        "id": "d3b00620.184e58",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_2",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 539.4286651611328,
        "y": 388.68819427490234,
        "wires": [
            [],
            [
                "7aed60f3.2cf3b"
            ]
        ]
    },
    {
        "id": "39941b3b.5dabf4",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_2",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1359.4287605285645,
        "y": 358.6882209777832,
        "wires": [
            []
        ]
    },
    {
        "id": "fd5d3a2e.f546e8",
        "type": "switch",
        "z": "db53a7a0.1c3578",
        "name": "",
        "property": "payload.event.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "tradfri_remote_control",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "spotify_controller",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch_14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch_18",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch_19",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch_20",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 82.76666259765625,
        "y": 546.2666015625,
        "wires": [
            [
                "678ba241.dd16ac"
            ],
            [
                "3c8905f1.44046a"
            ],
            [
                "5e8e9be4.fa5cb4"
            ],
            [
                "ce8a1f2e.e4898"
            ],
            [
                "6f787fc.ef9988"
            ],
            [
                "28ec24a0.1819fc"
            ]
        ]
    },
    {
        "id": "3c8905f1.44046a",
        "type": "switch",
        "z": "db53a7a0.1c3578",
        "name": "Living room",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5001",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 149.28569793701172,
        "y": 1192.6572723388672,
        "wires": [
            [
                "7c004591.3b117c"
            ],
            [
                "480b1d83.07e444"
            ],
            [
                "e7eb3151.28dc9"
            ],
            [
                "2ef8466d.312daa"
            ],
            [
                "38fb65f3.257a2a"
            ],
            [],
            []
        ]
    },
    {
        "id": "38fb65f3.257a2a",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.light_1",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 412.3857765197754,
        "y": 1333.4573011398315,
        "wires": [
            [
                "7019c711.234c88"
            ],
            [
                "c0817f8a.25b9f"
            ]
        ]
    },
    {
        "id": "c0817f8a.25b9f",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.sofa",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 648.3858413696289,
        "y": 1327.457363128662,
        "wires": [
            [
                "7019c711.234c88"
            ],
            [
                "545fb358.f74a9c"
            ]
        ]
    },
    {
        "id": "545fb358.f74a9c",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "switch.light_4",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 903.3858451843262,
        "y": 1326.457363128662,
        "wires": [
            [
                "7019c711.234c88"
            ],
            [
                "2c02a889.53a1f8",
                "c2e852ac.aabfb",
                "d452a0ab.05227"
            ]
        ]
    },
    {
        "id": "c2e852ac.aabfb",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.sofa",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1181.7858848571777,
        "y": 1357.4572315216064,
        "wires": [
            [
                "7686898.824c878"
            ]
        ]
    },
    {
        "id": "8e44c632.589488",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.light_1, light.sofa",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1444.6856384277344,
        "y": 1503.4573001861572,
        "wires": [
            [
                "33d5390.ed4c9c8"
            ]
        ]
    },
    {
        "id": "7686898.824c878",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.sofa",
        "data": "{\"brightness\":0,\"white_value\":255,\"rgb_color\":[255,255,255]}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1387.1855163574219,
        "y": 1353.2574696540833,
        "wires": [
            []
        ]
    },
    {
        "id": "480b1d83.07e444",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "switch",
        "service": "toggle",
        "entityId": "switch.light_4",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1142.8857688903809,
        "y": 1161.457299232483,
        "wires": [
            []
        ]
    },
    {
        "id": "e7eb3151.28dc9",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_1",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 922.8858451843262,
        "y": 1228.057300567627,
        "wires": [
            [
                "fa9298a7.6752c8"
            ],
            [
                "4ec90fc3.0420a"
            ]
        ]
    },
    {
        "id": "4ec90fc3.0420a",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.light_1",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1145.2857780456543,
        "y": 1200.2572860717773,
        "wires": [
            []
        ]
    },
    {
        "id": "fa9298a7.6752c8",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_1",
        "data": "{\"brightness\":190}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1145.2857780456543,
        "y": 1249.2572860717773,
        "wires": [
            []
        ]
    },
    {
        "id": "7c004591.3b117c",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.sofa",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 713.6857795715332,
        "y": 1106.657299041748,
        "wires": [
            [
                "ea3d3372.8b48d"
            ],
            [
                "f45ef4e5.a47608"
            ]
        ]
    },
    {
        "id": "f45ef4e5.a47608",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.sofa",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 943.0857734680176,
        "y": 1082.2572984695435,
        "wires": [
            [
                "3ddd64cb.00faec"
            ]
        ]
    },
    {
        "id": "ac9cd049.d7ad8",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.sofa",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1142.2025413513184,
        "y": 1122.6072017550468,
        "wires": [
            []
        ]
    },
    {
        "id": "3ddd64cb.00faec",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.sofa",
        "data": "{\"brightness\":50,\"rgb_color\":[255,255,255],\"white_value\":255}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1135.2025413513184,
        "y": 1085.6073961257935,
        "wires": [
            [
                "aded3f00.a28ac"
            ]
        ]
    },
    {
        "id": "ea3d3372.8b48d",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Next color calc",
        "func": "colors = [\"BlueViolet\",\"red\",\"purple\",\"blue\",\"green\",\"cyan\", \"warm\", \"orange\"]\ncurrent_color = flow.get(\"current_color_bath\") || false\n\n\nif (current_color) {\n    if (current_color == \"cyan\") {\n        msg.payload = {\"data\": {\"brightness\":100,\"rgb_color\":[255,255,255],\"white_value\":255}}\n        flow.set(\"current_color_bath\",\"warm\")\n        return msg\n    }\n    if (current_color ==\"warm\") {\n        msg.payload = {\"data\": {\"brightness\":255,\"rgb_color\":[255,22,0],\"white_value\":0}}\n        flow.set(\"current_color_bath\", \"orange\")\n        return msg\n    }\n    i = colors.indexOf(current_color)+1\n    if (i >= colors.length) {\n        i = 0\n    }\n    current_color = colors[i]\n    flow.set(\"current_color_bath\",current_color)\n}\nelse {\n    flow.set(\"current_color_bath\",\"red\")\n    current_color = \"red\"\n}\n\nmsg.payload = {\"data\": {\"brightness\":255, \"white_value\":0, \"color_name\": current_color}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 954.2024726867676,
        "y": 1122.007396697998,
        "wires": [
            [
                "ac9cd049.d7ad8"
            ]
        ]
    },
    {
        "id": "2ef8466d.312daa",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.sofa",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1160.1857566833496,
        "y": 1282.2572860717773,
        "wires": [
            [
                "5cd257e4.a805f8"
            ]
        ]
    },
    {
        "id": "33d5390.ed4c9c8",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Reset curr color",
        "func": "flow.set(\"current_color_bath\",\"warm\")",
        "outputs": 1,
        "noerr": 0,
        "x": 1656.8858108520508,
        "y": 1497.857473373413,
        "wires": [
            []
        ]
    },
    {
        "id": "aded3f00.a28ac",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Reset curr color",
        "func": "flow.set(\"current_color_bath\",\"warm\")",
        "outputs": 1,
        "noerr": 0,
        "x": 1336.8857727050781,
        "y": 1085.8572750091553,
        "wires": [
            []
        ]
    },
    {
        "id": "5cd257e4.a805f8",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Reset curr color",
        "func": "flow.set(\"current_color_bath\",\"warm\")",
        "outputs": 1,
        "noerr": 0,
        "x": 1353.4857292175293,
        "y": 1273.2572860717773,
        "wires": [
            []
        ]
    },
    {
        "id": "30ad5183.f3d67e",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_3",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 539.2000122070312,
        "y": 425.39999294281006,
        "wires": [
            [],
            [
                "7aed60f3.2cf3b"
            ]
        ]
    },
    {
        "id": "2fe76288.00be3e",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Brightness up calc",
        "func": "arr = msg.data.attributes.brightness\nvar sum = 0;\nfor( var i = 0; i < arr.length; i++ ){\n    sum += parseInt( arr[i], 10 ); //don't forget to add the base\n}\n\nvar brightness = sum/arr.length + 50;\n\n\nif (brightness > 255){\n    brightness = 255;\n}\nmsg.payload = {\"data\":{\"brightness\":brightness}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 922.2000732421875,
        "y": 397.3999996185303,
        "wires": [
            [
                "24a78763.4bac98",
                "aa548de8.92361"
            ]
        ]
    },
    {
        "id": "a202297a.ee2978",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_3",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1361.2001342773438,
        "y": 396.4000005722046,
        "wires": [
            []
        ]
    },
    {
        "id": "fcad86e2.9469f8",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_2",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 550.2000122070312,
        "y": 648.2000122070312,
        "wires": [
            [],
            [
                "3169c580.03a77a"
            ]
        ]
    },
    {
        "id": "5f1d1204.0608cc",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_3",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 551.9713439941406,
        "y": 681.9118213653564,
        "wires": [
            [],
            [
                "3169c580.03a77a"
            ]
        ]
    },
    {
        "id": "45ce35cd.b8138c",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_2",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1374.200080871582,
        "y": 650.2001209259033,
        "wires": [
            []
        ]
    },
    {
        "id": "faf023c0.4b22c",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_3",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1377.971450805664,
        "y": 692.911979675293,
        "wires": [
            []
        ]
    },
    {
        "id": "3b041f09.39a92",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.light_2",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 702.1999740600586,
        "y": 551.2000255584717,
        "wires": [
            [],
            [
                "ab741869.0ce418"
            ]
        ]
    },
    {
        "id": "5d9ecf39.77873",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_3",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 702.9714050292969,
        "y": 585.9118423461914,
        "wires": [
            [],
            [
                "eccc16c9.f65e78"
            ]
        ]
    },
    {
        "id": "a6126581.6afb68",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Next color calc",
        "func": "colors = [\"white\",\"red\",\"orange\",\"green\",\"blue\",\"purple\",\"peachpuff\"]\ncurrent_color = flow.get(\"current_color\") || false\n\nif (current_color) {\n    i = colors.indexOf(current_color)-1\n    if (i <= 0) {\n        i = colors.length-1\n    }\n    current_color = colors[i]\n    flow.set(\"current_color\",current_color)\n}\nelse {\n    flow.set(\"current_color\",\"purple\")\n    current_color = \"purple\"\n}\n\nmsg.data = {\"color_name\": current_color}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480.2000198364258,
        "y": 545.1999950408936,
        "wires": [
            [
                "3b041f09.39a92",
                "5d9ecf39.77873"
            ]
        ]
    },
    {
        "id": "3a3c5b84.26dd44",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_2",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1123.2000274658203,
        "y": 534.7999582290649,
        "wires": [
            []
        ]
    },
    {
        "id": "4e6c77a5.35a2f8",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_3",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1128.9714050292969,
        "y": 578.5118179321289,
        "wires": [
            []
        ]
    },
    {
        "id": "3b86d4a0.71fe2c",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.light_2",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 699.2000122070312,
        "y": 469.79998779296875,
        "wires": [
            [],
            [
                "bc61a430.98c1b8"
            ]
        ]
    },
    {
        "id": "5284364f.8adad8",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_3",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 699.9714431762695,
        "y": 504.5118045806885,
        "wires": [
            [],
            [
                "2349dfdf.406bf"
            ]
        ]
    },
    {
        "id": "3e2c6caf.1f4964",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_2",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1122.2000274658203,
        "y": 457.39994621276855,
        "wires": [
            []
        ]
    },
    {
        "id": "2e219a85.e5cad6",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_3",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1121.9714050292969,
        "y": 495.11180686950684,
        "wires": [
            []
        ]
    },
    {
        "id": "619082d.23d307c",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.bed",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 555.6999816894531,
        "y": 769.799998998642,
        "wires": [
            [
                "3629368b.5d722a"
            ],
            [
                "7579cabb.0d1e44"
            ]
        ]
    },
    {
        "id": "7579cabb.0d1e44",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.bed",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 810.1000366210938,
        "y": 749.7999877929688,
        "wires": [
            [
                "8000df87.20034"
            ]
        ]
    },
    {
        "id": "3629368b.5d722a",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.bed",
        "data": "{\"color_name\":\"peachpuff\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 811.1000595092773,
        "y": 786.7999992370605,
        "wires": [
            [
                "ef728751.a5e198"
            ]
        ]
    },
    {
        "id": "8000df87.20034",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Reset color",
        "func": "flow.set(\"current_color\",\"peachpuff\")",
        "outputs": 1,
        "noerr": 0,
        "x": 1014,
        "y": 747.7999877929688,
        "wires": [
            []
        ]
    },
    {
        "id": "9e472851.3eeda8",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_2",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 499.2000274658203,
        "y": 858.8000011444092,
        "wires": [
            [
                "7082c4c6.d925bc"
            ],
            [
                "8f319f5d.a77a6"
            ]
        ]
    },
    {
        "id": "8de13127.bfb2b",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_3",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 492.2000274658203,
        "y": 950.8000011444092,
        "wires": [
            [
                "51281d59.460404"
            ],
            [
                "76f9a294.a7e5ec"
            ]
        ]
    },
    {
        "id": "7082c4c6.d925bc",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_2",
        "data": "{\"color_name\":\"peachpuff\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 721.4444580078125,
        "y": 881.555643081665,
        "wires": [
            []
        ]
    },
    {
        "id": "51281d59.460404",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_3",
        "data": "{\"color_name\":\"peachpuff\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 729.4444580078125,
        "y": 988.5556030273438,
        "wires": [
            []
        ]
    },
    {
        "id": "8f319f5d.a77a6",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.light_2",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 720.4444580078125,
        "y": 845.888916015625,
        "wires": [
            [
                "e6b11471.6b4198"
            ]
        ]
    },
    {
        "id": "e6b11471.6b4198",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.light_3",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 956.6111297607422,
        "y": 843.4444580078125,
        "wires": [
            [],
            [
                "c501bcd3.ba1d"
            ]
        ]
    },
    {
        "id": "da47c767.b4a998",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.light_2",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 957.4444580078125,
        "y": 939.888916015625,
        "wires": [
            [],
            [
                "ad3cf23d.dc2e7"
            ]
        ]
    },
    {
        "id": "76f9a294.a7e5ec",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.light_3",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 725.4444580078125,
        "y": 941.888916015625,
        "wires": [
            [
                "da47c767.b4a998"
            ]
        ]
    },
    {
        "id": "c501bcd3.ba1d",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Reset color",
        "func": "flow.set(\"current_color\",\"peachpuff\")",
        "outputs": 1,
        "noerr": 0,
        "x": 1177.4444580078125,
        "y": 835.888916015625,
        "wires": [
            []
        ]
    },
    {
        "id": "ad3cf23d.dc2e7",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Reset color",
        "func": "flow.set(\"current_color\",\"peachpuff\")",
        "outputs": 1,
        "noerr": 0,
        "x": 1165.4444580078125,
        "y": 934.888916015625,
        "wires": [
            []
        ]
    },
    {
        "id": "2c02a889.53a1f8",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.light_4",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1175.666633605957,
        "y": 1321.3333168029785,
        "wires": [
            []
        ]
    },
    {
        "id": "d452a0ab.05227",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_1",
        "data": "{\"brightness\":190}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1198.666618347168,
        "y": 1394.4444961547852,
        "wires": [
            []
        ]
    },
    {
        "id": "7019c711.234c88",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.light_4",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1198.111198425293,
        "y": 1501.4444961547852,
        "wires": [
            [
                "8e44c632.589488"
            ]
        ]
    },
    {
        "id": "bc61a430.98c1b8",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Attach color",
        "func": "colors = [\"white\",\"red\",\"orange\",\"green\",\"blue\",\"purple\",\"PeachPuff\"]\ncurrent_color = flow.get(\"current_color\") || false\n\nif (current_color) {\n}\nelse {\n    current_color = \"peachpuff\"\n}\n\nmsg.payload = {data:{\"color_name\": current_color}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 917.3333206176758,
        "y": 465.55554580688477,
        "wires": [
            [
                "3e2c6caf.1f4964"
            ]
        ]
    },
    {
        "id": "2349dfdf.406bf",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Attach color",
        "func": "colors = [\"white\",\"red\",\"orange\",\"green\",\"blue\",\"purple\",\"PeachPuff\"]\ncurrent_color = flow.get(\"current_color\") || false\n\nif (current_color) {\n}\nelse {\n    current_color = \"peachpuff\"\n}\n\nmsg.payload = {data:{\"color_name\": current_color}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 914.3333129882812,
        "y": 499.5555419921875,
        "wires": [
            [
                "2e219a85.e5cad6"
            ]
        ]
    },
    {
        "id": "ab741869.0ce418",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Attach color",
        "func": "colors = [\"white\",\"red\",\"orange\",\"green\",\"blue\",\"purple\",\"PeachPuff\"]\ncurrent_color = flow.get(\"current_color\") || false\n\nif (current_color) {\n}\nelse {\n    current_color = \"peachpuff\"\n}\n\nmsg.payload = {data:{\"color_name\": current_color}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 917.3333129882812,
        "y": 554.5555419921875,
        "wires": [
            [
                "3a3c5b84.26dd44"
            ]
        ]
    },
    {
        "id": "eccc16c9.f65e78",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Attach color",
        "func": "colors = [\"white\",\"red\",\"orange\",\"green\",\"blue\",\"purple\",\"PeachPuff\"]\ncurrent_color = flow.get(\"current_color\") || false\n\nif (current_color) {\n}\nelse {\n    current_color = \"peachpuff\"\n}\n\nmsg.payload = {data:{\"color_name\": current_color}}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 912.3333129882812,
        "y": 589.5555419921875,
        "wires": [
            [
                "4e6c77a5.35a2f8"
            ]
        ]
    },
    {
        "id": "ef728751.a5e198",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Reset color",
        "func": "flow.set(\"current_color\",\"peachpuff\")",
        "outputs": 1,
        "noerr": 0,
        "x": 1018.3333129882812,
        "y": 785.5555419921875,
        "wires": [
            []
        ]
    },
    {
        "id": "7aed60f3.2cf3b",
        "type": "join",
        "z": "db53a7a0.1c3578",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "data.attributes.brightness",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "-",
        "joinerType": "str",
        "accumulate": false,
        "timeout": ".2",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 726.4999847412109,
        "y": 401.11112785339355,
        "wires": [
            [
                "2fe76288.00be3e"
            ]
        ]
    },
    {
        "id": "24a78763.4bac98",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_2",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 1140.3333740234375,
        "y": 362.44445991516113,
        "wires": [
            [],
            [
                "39941b3b.5dabf4"
            ]
        ]
    },
    {
        "id": "aa548de8.92361",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_3",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 1140.3333740234375,
        "y": 399.4444580078125,
        "wires": [
            [],
            [
                "a202297a.ee2978"
            ]
        ]
    },
    {
        "id": "3169c580.03a77a",
        "type": "join",
        "z": "db53a7a0.1c3578",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "data.attributes.brightness",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "-",
        "joinerType": "str",
        "accumulate": false,
        "timeout": ".2",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 756.111083984375,
        "y": 669.888916015625,
        "wires": [
            [
                "d7db12d.73ea9f"
            ]
        ]
    },
    {
        "id": "d7db12d.73ea9f",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Brightness up calc",
        "func": "arr = msg.data.attributes.brightness\nvar sum = 0;\nfor( var i = 0; i < arr.length; i++ ){\n    sum += parseInt( arr[i], 10 ); //don't forget to add the base\n}\n\nvar brightness = sum/arr.length - 50;\n\n\nif (brightness < 2){\n    brightness = 2;\n}\nmsg.payload = {\"data\":{\"brightness\":brightness}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 926.111083984375,
        "y": 672.888916015625,
        "wires": [
            [
                "1ff97648.ba3eba",
                "a3f10363.47a99"
            ]
        ]
    },
    {
        "id": "1ff97648.ba3eba",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_2",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 1139.111083984375,
        "y": 661.888916015625,
        "wires": [
            [],
            [
                "45ce35cd.b8138c"
            ]
        ]
    },
    {
        "id": "a3f10363.47a99",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_3",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 1140.8824157714844,
        "y": 695.6007251739502,
        "wires": [
            [],
            [
                "faf023c0.4b22c"
            ]
        ]
    },
    {
        "id": "9d509843.1415f8",
        "type": "switch",
        "z": "db53a7a0.1c3578",
        "name": "Spotify",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3001",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 103.01953506469727,
        "y": 1934.0039558410645,
        "wires": [
            [
                "d27465ed.344868",
                "9b9ccc67.8d5f6",
                "7670792f.aa1ba8"
            ],
            [
                "4bc3ff7c.377d1"
            ],
            [
                "6b52bcac.7b1f34"
            ],
            [
                "d75f9c75.8f6",
                "7034e1a2.c673d",
                "9d182675.48f7e8"
            ],
            [
                "6f34d69f.dbd548"
            ],
            [
                "601ff42b.7511ac",
                "5d74c470.17aefc",
                "4d2ab2e9.d3652c"
            ]
        ]
    },
    {
        "id": "6b52bcac.7b1f34",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{\"entity_id\":\"media_player.spotify\"}",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 459.0195617675781,
        "y": 1886.2039489746094,
        "wires": [
            []
        ]
    },
    {
        "id": "4bc3ff7c.377d1",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "service_domain": "media_player",
        "service": "media_previous_track",
        "data": "{\"entity_id\":\"media_player.spotify\"}",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 474.7195739746094,
        "y": 1847.2038879394531,
        "wires": [
            []
        ]
    },
    {
        "id": "6f34d69f.dbd548",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "service_domain": "media_player",
        "service": "media_play_pause",
        "data": "{\"entity_id\":\"media_player.spotify\"}",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 431.7195739746094,
        "y": 1933.2039489746094,
        "wires": [
            []
        ]
    },
    {
        "id": "d27465ed.344868",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.home",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 870.0195617675781,
        "y": 1729.2039489746094,
        "wires": [
            [
                "a4158af0.a033c8"
            ],
            []
        ]
    },
    {
        "id": "7a7c838e.fe604c",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "",
        "func": "\n\nvolume = msg.data.attributes.volume_level + 0.1;\n    if (volume > 1){\n        volume = 1;\n    }\n    msg.payload = {\"data\":{\"volume_level\":volume}, \"entity_id\":\"media_player.kitchen_speaker\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1166.7195129394531,
        "y": 1733.4038391113281,
        "wires": [
            [
                "4c082122.ee3"
            ]
        ]
    },
    {
        "id": "9b9ccc67.8d5f6",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.kitchen_speaker",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 900.7195739746094,
        "y": 1777.2039489746094,
        "wires": [
            [
                "7a7c838e.fe604c"
            ],
            []
        ]
    },
    {
        "id": "7670792f.aa1ba8",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.googlehome5130",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 889.5195617675781,
        "y": 1821.2039489746094,
        "wires": [
            [
                "50deab72.360a54"
            ],
            []
        ]
    },
    {
        "id": "d75f9c75.8f6",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.home",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 870.5195617675781,
        "y": 1889.0039978027344,
        "wires": [
            [
                "2c0c1494.d416bc"
            ],
            []
        ]
    },
    {
        "id": "7034e1a2.c673d",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.kitchen_speaker",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 901.2195739746094,
        "y": 1937.0039978027344,
        "wires": [
            [
                "2969bd81.abd7c2"
            ],
            []
        ]
    },
    {
        "id": "9d182675.48f7e8",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.googlehome5130",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 890.0195617675781,
        "y": 1981.0039978027344,
        "wires": [
            [
                "4f658b74.6c0e14"
            ],
            []
        ]
    },
    {
        "id": "e86d700a.9b156",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "",
        "func": "msg.payload.entity_id=\"media_player.home\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 683.5195617675781,
        "y": 2038.2039184570312,
        "wires": [
            [
                "903fe174.2695b"
            ]
        ]
    },
    {
        "id": "601ff42b.7511ac",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.home",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 408.5195617675781,
        "y": 2051.0039672851562,
        "wires": [
            [
                "e86d700a.9b156"
            ],
            []
        ]
    },
    {
        "id": "30c6e772.3787f8",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "",
        "func": "msg.payload.entity_id=\"media_player.kitchen_speaker\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700.2195129394531,
        "y": 2088.2039184570312,
        "wires": [
            [
                "903fe174.2695b"
            ]
        ]
    },
    {
        "id": "5d74c470.17aefc",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.kitchen_speaker",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 439.2195739746094,
        "y": 2099.0039672851562,
        "wires": [
            [
                "30c6e772.3787f8"
            ],
            []
        ]
    },
    {
        "id": "64ce2db7.27db64",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "",
        "func": "msg.payload.entity_id=\"media_player.googlehome5130\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 695.0195617675781,
        "y": 2138.2039184570312,
        "wires": [
            [
                "903fe174.2695b"
            ]
        ]
    },
    {
        "id": "4d2ab2e9.d3652c",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "media_player.googlehome5130",
        "state_type": "str",
        "override_payload": true,
        "override_data": true,
        "x": 428.0195617675781,
        "y": 2143.0039672851562,
        "wires": [
            [
                "64ce2db7.27db64"
            ],
            []
        ]
    },
    {
        "id": "903fe174.2695b",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "service_domain": "media_player",
        "service": "volume_set",
        "data": "{\"volume_level\":0.1}",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 973.5195617675781,
        "y": 2096.2039489746094,
        "wires": [
            []
        ]
    },
    {
        "id": "4c082122.ee3",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "service_domain": "media_player",
        "service": "volume_set",
        "data": "",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1526.4028625488281,
        "y": 1719.6871643066406,
        "wires": [
            []
        ]
    },
    {
        "id": "a4158af0.a033c8",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "",
        "func": "\n\nvolume = msg.data.attributes.volume_level + 0.1;\n    if (volume > 1){\n        volume = 1;\n    }\n    msg.payload = {\"data\":{\"volume_level\":volume}, \"entity_id\":\"media_player.home\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1168.4028625488281,
        "y": 1680.6871948242188,
        "wires": [
            [
                "4c082122.ee3"
            ]
        ]
    },
    {
        "id": "50deab72.360a54",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "",
        "func": "\n\nvolume = msg.data.attributes.volume_level + 0.1;\n    if (volume > 1){\n        volume = 1;\n    }\n    msg.payload = {\"data\":{\"volume_level\":volume}, \"entity_id\":\"media_player.googlehome5130\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1158.4028625488281,
        "y": 1802.6871948242188,
        "wires": [
            [
                "4c082122.ee3"
            ]
        ]
    },
    {
        "id": "a666e2a5.b50bc",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "service_domain": "media_player",
        "service": "volume_set",
        "data": "",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1423.4028625488281,
        "y": 1908.6871948242188,
        "wires": [
            []
        ]
    },
    {
        "id": "4f658b74.6c0e14",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "",
        "func": "\n\nvolume = msg.data.attributes.volume_level - 0.1;\n    if (volume < 0.1){\n        volume = 0.1;\n    }\n    msg.payload = {\"data\":{\"volume_level\":volume}, \"entity_id\":\"media_player.googlehome5130\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1147.4028625488281,
        "y": 1984.6871948242188,
        "wires": [
            [
                "a666e2a5.b50bc"
            ]
        ]
    },
    {
        "id": "2969bd81.abd7c2",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "",
        "func": "\n\nvolume = msg.data.attributes.volume_level - 0.1;\n    if (volume < 0.1){\n        volume = 0.1;\n    }\n    msg.payload = {\"data\":{\"volume_level\":volume}, \"entity_id\":\"media_player.kitchen_speaker\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1175.4028625488281,
        "y": 1930.6871948242188,
        "wires": [
            [
                "a666e2a5.b50bc"
            ]
        ]
    },
    {
        "id": "2c0c1494.d416bc",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "",
        "func": "\n\nvolume = msg.data.attributes.volume_level - 0.1;\n    if (volume < 0.1){\n        volume = 0.1;\n    }\n    msg.payload = {\"data\":{\"volume_level\":volume}, \"entity_id\":\"media_player.home\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150.4028625488281,
        "y": 1870.6871643066406,
        "wires": [
            [
                "a666e2a5.b50bc"
            ]
        ]
    },
    {
        "id": "ed7873d0.4e388",
        "type": "server-events",
        "z": "1880a.dac207f62",
        "name": "",
        "server": "b183b406.fb22c8",
        "event_type": "deconz_event",
        "x": 167.01953125,
        "y": 672.0039310455322,
        "wires": [
            [
                "390e71f1.bbddee"
            ]
        ]
    },
    {
        "id": "390e71f1.bbddee",
        "type": "switch",
        "z": "1880a.dac207f62",
        "name": "",
        "property": "payload.event.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vibration_sensor",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 543.9999771118164,
        "y": 674.0000247955322,
        "wires": [
            [
                "52e94d0d.eb60e4",
                "b250b396.706dc"
            ]
        ]
    },
    {
        "id": "52e94d0d.eb60e4",
        "type": "function",
        "z": "1880a.dac207f62",
        "name": "",
        "func": "date = new Date()\nday = date.getDate()\nmonth = date.getMonth()+1\nyear = date.getFullYear()\n\nhours = date.getHours()\nminutes = date.getMinutes()\n\nmsg.payload = {data:{\"date\":year.toString()+\"-\"+month.toString()+\"-\"+day.toString(),\"time\":hours.toString()+\":\"+minutes.toString()+\":00\"}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 728.4999771118164,
        "y": 665.0000247955322,
        "wires": [
            [
                "fe4bf52b.5bac68"
            ]
        ]
    },
    {
        "id": "fe4bf52b.5bac68",
        "type": "api-call-service",
        "z": "1880a.dac207f62",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "input_datetime",
        "service": "set_datetime",
        "entityId": "input_datetime.mailbox",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 976.9999771118164,
        "y": 675.0000247955322,
        "wires": [
            []
        ]
    },
    {
        "id": "5e8e9be4.fa5cb4",
        "type": "switch",
        "z": "db53a7a0.1c3578",
        "name": "Living room 2-button",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2002",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 188.99999237060547,
        "y": 1538.0001106262207,
        "wires": [
            [
                "59e396c6.b025b8"
            ],
            [
                "ca98cad4.f15008"
            ]
        ]
    },
    {
        "id": "ca98cad4.f15008",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.sofa",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 553.017333984375,
        "y": 1549.3438291549683,
        "wires": [
            [
                "77fd3391.d1512c"
            ],
            [
                "75c101c4.38749"
            ]
        ]
    },
    {
        "id": "75c101c4.38749",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.sofa",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 804.017333984375,
        "y": 1510.34375,
        "wires": [
            []
        ]
    },
    {
        "id": "77fd3391.d1512c",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.sofa",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 786.017333984375,
        "y": 1562.34375,
        "wires": [
            [
                "4d1bbc9f.0203d4"
            ]
        ]
    },
    {
        "id": "4d1bbc9f.0203d4",
        "type": "function",
        "z": "db53a7a0.1c3578",
        "name": "Reset curr color",
        "func": "flow.set(\"current_color_bath\",\"warm\")",
        "outputs": 1,
        "noerr": 0,
        "x": 1005.017333984375,
        "y": 1558.34375,
        "wires": [
            []
        ]
    },
    {
        "id": "59e396c6.b025b8",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "switch",
        "service": "toggle",
        "entityId": "switch.light_4",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 582.017333984375,
        "y": 1479.34375,
        "wires": [
            []
        ]
    },
    {
        "id": "97159508.4454c8",
        "type": "api-current-state",
        "z": "1880a.dac207f62",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.bath",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 174.0729217529297,
        "y": 408.75697231292725,
        "wires": [
            [
                "931399ff.c7e248"
            ],
            [
                "fbab406a.be9ea",
                "931399ff.c7e248"
            ]
        ]
    },
    {
        "id": "fbab406a.be9ea",
        "type": "api-call-service",
        "z": "1880a.dac207f62",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.bath",
        "data": "{\"brightness\":255,\"rgb_color\":[255,244,0],\"white_value\":255}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 548.0173034667969,
        "y": 256.01043033599854,
        "wires": [
            []
        ]
    },
    {
        "id": "931399ff.c7e248",
        "type": "trigger",
        "z": "1880a.dac207f62",
        "op1": "",
        "op2": "1",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 459.0800380706787,
        "y": 405.74653816223145,
        "wires": [
            [
                "657c8ebe.1c65d"
            ]
        ]
    },
    {
        "id": "a8affb80.857cd8",
        "type": "api-call-service",
        "z": "1880a.dac207f62",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.bath",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1512.017433166504,
        "y": 277.1214904785156,
        "wires": [
            []
        ]
    },
    {
        "id": "657c8ebe.1c65d",
        "type": "api-current-state",
        "z": "1880a.dac207f62",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.bath",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 690.0172882080078,
        "y": 407.12152194976807,
        "wires": [
            [],
            [
                "c258161f.53b388"
            ]
        ]
    },
    {
        "id": "c258161f.53b388",
        "type": "api-current-state",
        "z": "1880a.dac207f62",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "200",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "override_topic": false,
        "entity_id": "sensor.lightlevel_15",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 970.0763931274414,
        "y": 349.871639251709,
        "wires": [
            [
                "931399ff.c7e248"
            ],
            [
                "382d3d3e.dbbf32"
            ]
        ]
    },
    {
        "id": "382d3d3e.dbbf32",
        "type": "api-current-state",
        "z": "1880a.dac207f62",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.presence_16",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1204.0694580078125,
        "y": 298.75002241134644,
        "wires": [
            [
                "931399ff.c7e248"
            ],
            [
                "a8affb80.857cd8"
            ]
        ]
    },
    {
        "id": "61fe8737.b5a3b8",
        "type": "api-call-service",
        "z": "1880a.dac207f62",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "notify",
        "service": "messenger",
        "entityId": "",
        "data": "{\"message\":\"Posten kom nettopp\", \"target\": [\"BROADCAST\"]}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1232.0173511505127,
        "y": 784.0107841491699,
        "wires": [
            []
        ]
    },
    {
        "id": "ce8a1f2e.e4898",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_2",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 402.01741790771484,
        "y": 75.01042556762695,
        "wires": [
            [
                "e3c83099.9635e"
            ],
            [
                "18c4826b.f4b1fe"
            ]
        ]
    },
    {
        "id": "e3c83099.9635e",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_2",
        "data": "{\"color_name\":\"peachpuff\",\"brightness\":200}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 671.0173568725586,
        "y": 111.12155342102051,
        "wires": [
            []
        ]
    },
    {
        "id": "18c4826b.f4b1fe",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.light_2",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 668.0173950195312,
        "y": 62.121543884277344,
        "wires": [
            []
        ]
    },
    {
        "id": "6f787fc.ef9988",
        "type": "api-current-state",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.light_3",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 408.01741790771484,
        "y": 192.0104103088379,
        "wires": [
            [
                "dbfb6b8b.b4c698"
            ],
            [
                "dba7f60d.7b4198"
            ]
        ]
    },
    {
        "id": "dbfb6b8b.b4c698",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.light_3",
        "data": "{\"color_name\":\"peachpuff\",\"brightness\":200}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 677.0173568725586,
        "y": 228.12153816223145,
        "wires": [
            []
        ]
    },
    {
        "id": "dba7f60d.7b4198",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.light_3",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 674.0173950195312,
        "y": 179.12152862548828,
        "wires": [
            []
        ]
    },
    {
        "id": "84f41109.cc251",
        "type": "debug",
        "z": "1880a.dac207f62",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 501.07640838623047,
        "y": 570.6111364364624,
        "wires": []
    },
    {
        "id": "bf2051c1.28124",
        "type": "trigger-state",
        "z": "1880a.dac207f62",
        "name": "",
        "server": "b183b406.fb22c8",
        "entityid": "binary_sensor.openclose_22",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "hum1vbzodnb",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            },
            {
                "id": "3ujf0xt5lyj",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 219.0729217529297,
        "y": 772.8923721313477,
        "wires": [
            [
                "af22cbb6.786508"
            ],
            []
        ]
    },
    {
        "id": "c66181fb.a5586",
        "type": "join",
        "z": "1880a.dac207f62",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "300",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 813.0764293670654,
        "y": 776.7920236587524,
        "wires": [
            [
                "c86e5faa.6fe3d"
            ]
        ]
    },
    {
        "id": "b250b396.706dc",
        "type": "function",
        "z": "1880a.dac207f62",
        "name": "",
        "func": "msg.payload = \"0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 622.0693702697754,
        "y": 749.5106496810913,
        "wires": [
            [
                "c66181fb.a5586"
            ]
        ]
    },
    {
        "id": "af22cbb6.786508",
        "type": "function",
        "z": "1880a.dac207f62",
        "name": "",
        "func": "msg.payload = \"1\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 618.0173187255859,
        "y": 783.0105016231537,
        "wires": [
            [
                "c66181fb.a5586"
            ]
        ]
    },
    {
        "id": "c86e5faa.6fe3d",
        "type": "switch",
        "z": "1880a.dac207f62",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "01",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 955.0693702697754,
        "y": 774.2710552215576,
        "wires": [
            [],
            [],
            [
                "61fe8737.b5a3b8"
            ]
        ]
    },
    {
        "id": "28ec24a0.1819fc",
        "type": "api-call-service",
        "z": "db53a7a0.1c3578",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "switch",
        "service": "toggle",
        "entityId": "switch.extra",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 451.16668701171875,
        "y": 249.55557250976562,
        "wires": [
            []
        ]
    },
    {
        "id": "d945ba73.b61c58",
        "type": "server-state-changed",
        "z": "1880a.dac207f62",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "entityidfilter": "binary_sensor.presence_16",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 216.06944274902344,
        "y": 220.92363739013672,
        "wires": [
            [],
            [
                "97159508.4454c8"
            ]
        ]
    },
    {
        "id": "9149a0c2.2f43f",
        "type": "api-call-service",
        "z": "7737b2d1.488cec",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.extra",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1370.0693969726562,
        "y": 1048.2742776870728,
        "wires": [
            [
                "cc2020af.80afd"
            ]
        ]
    },
    {
        "id": "ed7a994a.ffd518",
        "type": "poll-state",
        "z": "7737b2d1.488cec",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "updateinterval": "30",
        "updateIntervalUnits": "seconds",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "sensor.temperature_7",
        "state_type": "num",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "x": 173.0729217529297,
        "y": 1030.1910562515259,
        "wires": [
            [
                "d4c09d62.fb91c"
            ]
        ]
    },
    {
        "id": "88d21fea.395e6",
        "type": "api-call-service",
        "z": "7737b2d1.488cec",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.extra",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1526.0173797607422,
        "y": 970.3440189361572,
        "wires": [
            []
        ]
    },
    {
        "id": "d4c09d62.fb91c",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "switch.extra",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 473.0833282470703,
        "y": 1027.0938186645508,
        "wires": [
            [
                "37d372d0.5074ee"
            ],
            [
                "84d7e3b2.05c62",
                "5867d116.2241e"
            ]
        ]
    },
    {
        "id": "84d7e3b2.05c62",
        "type": "switch",
        "z": "7737b2d1.488cec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "21",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 753.0798950195312,
        "y": 1004.8265676498413,
        "wires": [
            [
                "f57f11e0.010fa"
            ]
        ]
    },
    {
        "id": "37d372d0.5074ee",
        "type": "switch",
        "z": "7737b2d1.488cec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 641.0763816833496,
        "y": 1076.8194303512573,
        "wires": [
            [
                "4d2271fd.004fa"
            ]
        ]
    },
    {
        "id": "4d2271fd.004fa",
        "type": "time-range-switch",
        "z": "7737b2d1.488cec",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "22:00",
        "endTime": "06:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 774.0764389038086,
        "y": 1081.847276687622,
        "wires": [
            [],
            [
                "d6a47b58.d3e588"
            ]
        ]
    },
    {
        "id": "d6a47b58.d3e588",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Heater automation on?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "input_boolean.heater_auto_on",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 971.0173110961914,
        "y": 1053.232759475708,
        "wires": [
            [],
            [
                "455ebcf4.7a6ab4",
                "cb96f08e.a124c"
            ]
        ]
    },
    {
        "id": "cc2020af.80afd",
        "type": "function",
        "z": "7737b2d1.488cec",
        "name": "has been autostarted",
        "func": "flow.set(\"autostarted\",1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1447.017478942871,
        "y": 1120.343765258789,
        "wires": [
            []
        ]
    },
    {
        "id": "f57f11e0.010fa",
        "type": "function",
        "z": "7737b2d1.488cec",
        "name": "autostarted?",
        "func": "if (flow.get(\"autostarted\") == 1 ) {\nmsg.payload = 1\n} else {\n    msg.payload = 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 902.0173492431641,
        "y": 1005.2328586578369,
        "wires": [
            [
                "c9fe57e1.78f5a8"
            ]
        ]
    },
    {
        "id": "c9fe57e1.78f5a8",
        "type": "switch",
        "z": "7737b2d1.488cec",
        "name": "if autostarted",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1065.0173568725586,
        "y": 1004.2328042984009,
        "wires": [
            [
                "a1f2b271.3ccfb"
            ]
        ]
    },
    {
        "id": "455ebcf4.7a6ab4",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "C er hjemme",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": true,
        "entity_id": "device_tracker.charlotte_iphone",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1006.0173187255859,
        "y": 1100.454849243164,
        "wires": [
            [],
            [
                "8cc0dc3b.1c75"
            ]
        ]
    },
    {
        "id": "cb96f08e.a124c",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "H er hjemme",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": true,
        "entity_id": "device_tracker.henrik_note9",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1016.0173416137695,
        "y": 1149.4547996520996,
        "wires": [
            [],
            [
                "8cc0dc3b.1c75"
            ]
        ]
    },
    {
        "id": "c4f86694.9be308",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "C er ikke hjemme",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "device_tracker.charlotte_iphone",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 973.0172080993652,
        "y": 956.4551467895508,
        "wires": [
            [],
            [
                "16228a33.8214c6"
            ]
        ]
    },
    {
        "id": "16228a33.8214c6",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "H er ikke hjemme",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "device_tracker.henrik_note9",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1174.017292022705,
        "y": 951.4551738500595,
        "wires": [
            [],
            [
                "a1f2b271.3ccfb"
            ]
        ]
    },
    {
        "id": "5867d116.2241e",
        "type": "api-current-state",
        "z": "7737b2d1.488cec",
        "name": "Heater automation on?",
        "server": "b183b406.fb22c8",
        "version": "1",
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "input_boolean.heater_auto_on",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 768.0173187255859,
        "y": 958.4550514221191,
        "wires": [
            [],
            [
                "c4f86694.9be308"
            ]
        ]
    },
    {
        "id": "84c94d95.9399b",
        "type": "join",
        "z": "7737b2d1.488cec",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 0,
        "y": 0,
        "wires": [
            []
        ]
    },
    {
        "id": "155d4394.d2057c",
        "type": "join",
        "z": "7737b2d1.488cec",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 0,
        "y": 0,
        "wires": [
            []
        ]
    },
    {
        "id": "8cc0dc3b.1c75",
        "type": "join",
        "z": "7737b2d1.488cec",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1178.0763931274414,
        "y": 1113.236210823059,
        "wires": [
            [
                "9149a0c2.2f43f"
            ]
        ]
    },
    {
        "id": "a1f2b271.3ccfb",
        "type": "join",
        "z": "7737b2d1.488cec",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1353.017318725586,
        "y": 967.3437747955322,
        "wires": [
            [
                "88d21fea.395e6"
            ]
        ]
    },
    {
        "id": "f2f56bbf.9b3118",
        "type": "debug",
        "z": "db53a7a0.1c3578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 320,
        "y": 440,
        "wires": []
    }
]
